header {
  font-family: sans-serif;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #034E89;
}

body {
  background-image: url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.login-page{
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
  position: relative;
  font-family: sans-serif;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h4 {
  color: #034E89;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=text] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=password] {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=checkbox] {
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  display: -webkit-box;
  text-indent: 10px;
  padding-top: 19px;
  color: #034E89;
}

img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #034E89;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form .message a {
  color: #034E89;
  text-decoration: none;
}

.form .register-form {
  display: none;
}



